html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  /* background-color: black;
  color: white; */
}

#root {
  height: 100%;
}


li {
  list-style: none;
  justify-content: center;
  align-items: center;
}
